* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.gradient-text {
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
}

.upper-bold {
    font-weight: 900;
    text-transform: uppercase;
}

p {
    color: white;
}