#course-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 0 114px 0;
    gap: 24px;
}

#course-content p {
    max-width: 792px;
}

.modules-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.module {
    max-width: 535px;
    background-color: #252525;
    padding: 16px 127px;
    border: 1pX solid #33A8DB;
    border-radius: 57px;
}

#transform-world {
    background-image: url(/assets/images/a2defa0bf6a960e70c3ed8254716011c5f5e6f04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 560px;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 160px;
}

#transform-world p {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
}

#professional-challenges {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: black;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 96px 0;
}

#professional-challenges img {
    max-width: 659px;
    width: 100%;
}

#professional-challenges h2 {
    max-width: 746px;
}

#professional-challenges p {
    max-width: 792px;
}